<%= form_with(model: [@offer,@bid]) do |form| %>
  <%= render "shared/error_messages", resource: form.object %>

  <div class="form-group">
    <%= form.label :bid_amount%>
    <%= form.text_field :bid_amount, class: "form-control" %>
  </div>


  <div class="form-group">
    <%= form.label :base_rate_id%>
    <%= form.collection_select(:base_rate_id, BaseRate.all, :id, :description,{ include_blank: 'Select Rate Type' }, {class: 'form-control'}) %>
  </div>

  <div class="form-group">
    <%= form.label :rate%>
    <%= form.text_field :rate, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :spread%>
    <%= form.text_field :spread, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :bid_validity%>
    <%= form.text_field :bid_validity, class: "form-control", data: { controller: :flatpickr, flatpickr_enable_time: true, flatpickr_alt_input: true, flatpickr_alt_format: t("time.formats.long") } %>
  </div>

  <div class="form-group">
    <%= form.label :conditions%>
    <%= form.rich_text_area :conditions, data: { controller: "mentions", mentions_target: "field" } %>
  </div>

  <div class="form-group flex justify-between">
    <%= form.submit "Save", class: "btn btn-primary" %>
    <%= form.submit "Send To #{bid.next_state.humanize}", name: :next_state,  class: "btn btn-primary" %>
    <%= form.submit "Reject", name: :draft, class: "btn btn-primary" if bid.may_review2? || bid.may_final? %>

    <% if form.object.persisted? %>
      <%= link_to t("delete"), [@offer,form.object], class: "btn btn-danger outline", method: :delete, data: { confirm: t("are_you_sure") } %>
    <% end %>
  </div>
<% end %>
